body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    margin: 40px;
}

h1 {
    color: #333;
    font-size: 36px;
}

h2 {
    color: #444;
    font-size: 24px;
}

p, li {
    font-size: 18px;
    color: #222;
}

a {
    color: #0066cc;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

img {
    border-radius: 12px;
    margin-bottom: 20px;
}
.container {
    max-width: 800px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}